.example-container {
    color: 5FBB97;
  }
  
  .example-full-width {
    margin-right: 40px;
    margin-left: 40px;
  }
  
  .boton_aceptar{
      background-color: #5FBB97;
      border: 2px solid #5FBB97;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      /*margin-left: 40px;
      margin-right: 35px;*/
      
  }
  
  .boton_cancelar{
      background-color: #555555;
      border: 2px solid #131515;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      /*margin-left: 40px;
      margin-right: 35px;*/
      
      }
  
  hr {
    border: 3px solid #666;
    border-radius: 300px/10px;
    height: 0px;
    text-align: center;
  }
  
  .layout {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    margin-right: 35px;
    margin-left: 35px;
  }
  
  