

<body id="body" class="align">

    <div id="grid" class="grid align__item">

        <div class="register">

            <img class="site__logo" src="../../../assets/img/logo.png">

            <h2>Bazar Luzy</h2>

            <form method="post" class="form">

                <div class="form__field">
                    <input type="email" placeholder="Usuario">
                </div>

                <div class="form__field">
                    <input type="password" placeholder="Contraseña">
                </div>

                <div class="form__field">
                    <input type="submit" value="Sign Up" routerLink="/home">
                </div>

            </form>

            <p><a href="#">Olvidé mi contraseña</a></p>

        </div>

    </div>

</body>
